<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="com.defs.service"/>

    <!--UserServiceImpl注入到IOC容器中-->
    <bean id="userService" class="com.defs.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <!--OrderServiceImpl注入到IOC容器中-->
    <bean id="orderService" class="com.defs.service.OrderServiceImpl">
        <property name="orderDao" ref="orderDao"/>
    </bean>
    <!--ResultServiceImpl注入到IOC容器中-->
    <bean id="resultService" class="com.defs.service.ResultServiceImpl">
        <property name="resultDao" ref="resultDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="orderDao" ref="orderDao"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>